
# Python / Node / Env
__pycache__/
**/.venv/
*.pyc
*.egg-info/
node_modules/
dist/
.lighthouseci/
.cache/
app/.cache/
app/.lighthouseci/
.env
.mcp/
.vscode/
.idea/

# OS
.DS_Store

# Logs
logs/
*.log
